* { 
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
.body {
    background-color: #0000;
}
.common-padding {
    padding: 100px 0;
}
.body-bg-color {
    background-color: #000;
}
/* navbar css */
.beautywise-navbar {
    background-color: #0a0b0b00;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 25vh;
}
#beautywise-logo-img {
    width: 17vw;
    height: 30vh;
}
.beautywise-nav .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-family: serif;
    position: relative;
}
.beautywise-nav .nav-link::before {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    background: #D7B474;
    transition: 0.3s all;
}
.beautywise-nav .nav-link:hover::before {
    width: 100%;
    visibility: visible;
}
.beautywise-nav .nav-link:hover {
    color: #D7B474;
}
.beautywise-nav .dropdown-menu a {
    font-weight: 600;
    font-size: 18px;
    font-family: serif;
    background-color: black;
    color: #fff;
}
.beautywise-nav .dropdown-menu a:hover {
    color: #D7B474;
}
.beautywise-nav {
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
}
.beautywise-nav li.nav-item {
    padding: 0 6px;
    letter-spacing: 4px;
}
.profile-icon {
    width: 30px;
}
.search-icon {
    width: 30px;
}
.beautywise-header .navbar-toggler {
    color: #fbf9f9;

}

/* footer part css */
.icon-bg {
    position: relative;
    transition: 0.6 ease;
    border-radius: 50%;
}
.icon-bg:hover {
    box-shadow: 2px 2px 4px 2px #D7B474;
}
.icon-bg img {
    width: 58%;
}
.contact-us {
    display: flex;
    margin-top: 10px;
}
.contact-us img {
    width: 3%;
    position: relative;
}
.contact-us img:hover {
    box-shadow: 2px 1px 4px 3px #D7B474;
}
.contact-us p {
    padding-left: 15px;
}
.footer-part h1 {
    color: #fff;
    font-family: serif;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
}
.footer-part p {
    color: #fff;
}
.footer-part a {
    text-decoration: none;
}
/* home page css */
/* banner part css */
.beautywise-banner {
    height: 600px;
    position: relative;
}
.beautywise-banner .carousel-inner {
    position: relative;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* makeup video */
.makeup-video-icon {
    padding: 193px 0px;

}
.makeup-video {
    position: relative; 
    background-image: url('../images/bg-makeupvideo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.makeup-video-text img {
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #D7B474;
    width: 20%;
}
.makeup-video-icon p {
    font-size: 30px;
    color: #fff;
    padding-top: 20px;
}
.makeup-video-part img {
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #D7B474;
    width: 8%;
    padding: 10px;
}
.makeup-video-text {
    border: 1px solid #fff;
    padding: 35px;
    position: absolute;
    width: 20%;
    height: 360px;
    background-color: #D7B474;
    float: right;
    right: 211px;
    bottom: -72px;
    box-shadow: 2px 2px 5px 1px #ffffff0a;
}
.makeup-video-text h1 {
    color: #fff;
    font-family: serif;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-position: under;
}
.testimonial-img {
    width: 10%;
}
.testimonial-person-name {
    color: #fff;
    font-size: 12px;
    padding-left: 25px;
}
#carouselExampleIndicators {
    padding-bottom: 100px;
    padding-top: 5px;
}
.makeup-video-text p {
    color: #fff;
    font-size: 12px;
}
#quick-appoiment-div {
    background-color: #D7B474;
    height: 552px;
    border: 1px solid #fff;
    box-shadow: 2px 1px 5px 1px #ffffff0e;
}
.gift-png-div {
    padding-bottom: 20px;
}
.gift-box-png {
    width: 10%;
}
#quick-appoiment-circle {
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    color: #D7B474;
    border: 1px solid #ffffffd1;
}
.appoiment-padding {
    padding: 50px;
    height: 100%;
}
.appoiment-padding h3 {
    font-family: serif;
    text-transform: capitalize;
    color: black;
    font-size: 16px;
}
.appoiment-padding h2 {
    text-transform: capitalize;
    color: #D7B474;
    font-size: 15px;
}
.appoiment-padding p {
    text-transform: capitalize;
    color: black;
    font-size: 12px;
}

.btn.appoiment-button {
    width: 50%;
    font-size: 18px;
    font-family: serif;
    background-color: #D7B474;
    color: #D7B474;
    position: relative;
    border: 2px solid #D7B474;
    font-weight: 600;
    z-index: 1;
    transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn.appoiment-button::after {
    content:'';
    width: 100%;
    height: 101%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #D7B474;
}
.btn.appoiment-button:hover {
   color: #fff;
}
.btn.appoiment-button:hover::after {
    width: 0;
}
.appoiment h2{
    font-family: serif;
    text-transform: capitalize;
    color: #D7B474;
    font-size: 18px;
    text-decoration: underline;
}
.appoiment .form-label {
    font-size: 12px;
}
.appoiment-div {
    background-color: #fff;
    height: 552px;
    border: 1px solid #D7B474;
    box-shadow: 1px 1px 5px 1px #D7B474;
}
.followers {
    position: relative;
    background-image: url(../images/s1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    z-index: 1;
}
.followers::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000096;
}
.followers-part {
    border-radius: 50%;
    width: 60%;
    height: 170px;
    border: 1px solid #d7b47438;
    background-color: #d7b47426;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    box-shadow: 1px 2px 2px 2px #d7b474a6;
}
.followers-padding {
    text-align: center;
    padding: 164px 0;
    margin: auto;
    position: absolute;
    z-index: 5;
    width: 100%;
}
/* about page css */
.about-page {
    background-color: #000;
}
.makeup-artist h1 {
    color: #d7b474a6;
    font-family: serif;
    text-transform: capitalize;
}
.makeup-artist {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
}
.makeup-artist p {
    font-size: 12px;
    text-transform: capitalize;
}
.belena-pic {
    margin-top: 28px;
}
.belena-pic1 {
    position: relative;
}
.belena-pic .belena-pic1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 2px 2px 1px 1px #d7b474a6;
}
.life-event-paragraph h1 {
    color: #d7b474a6;
    font-family: serif;
    text-transform: capitalize;
}
.life-event-paragraph p {
    color: #fff;
    font-size: 12px;
    padding-top: 15px;
    text-transform: capitalize;
}
.life-event-paragraph h3 {
    color: #d7b474a6;
    font-family: serif;
    text-transform: capitalize;
    font-size: 14px;
}
.about-my-story {
    padding-top: 100px;
}
.about-my-story h1 {
    color: #d7b474a6;
    font-family: serif;
    text-transform: capitalize;
    font-size: 38px;
}
.about-my-story p {
    color: #fff;
    font-size: 12px;
    padding-top: 15px;
    text-transform: capitalize;
}
.about-my-story-paragraph {
    padding-top: 10px;
}
.my-achivment-div h1 {
    color: #d7b474a6;
    font-size: 30px;
    padding-top: 15px;
    text-transform: capitalize;
}
.my-achivment-div .row {
    border: 1px solid #fff;
}
/* blog page css */
.latest-blog .col-md-4 {
    transform-style: preserve-3d;
    perspective: 1500px;
}
.card.blog-img {
    background-color: black;
    transition: 1s ease-in-out;
    transform: rotateY(60deg);
}
.card.blog-img:hover {
transform: rotateY(0deg);
}
.latest-blog h1 {
    padding-top: 50px;
    text-align: center;
    color: #d7b474a6;
    font-family: serif;
    text-transform: capitalize;
    font-size: 38px;
}
.latest-blog p {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;
}

.blog-paragraph-flex {
    display: flex;
    padding-top: 10px;
}
.blog-paragraph {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border: 2px solid #d7b474a6;
    background: black;
}
.blog-paragraph p {
    color: #fff;
    padding: 8px;
}
.right-arrow {
    padding-left: 5px;
}
.blog-icon {
    width: 7%;
    height: 32px;
    padding-left: 2%;
}
.blog-paragraph h2 {
    font-size: 18px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
}
.blog-paragraph h4 {
    font-size: 16px;
    font-family: serif;
    text-transform: capitalize;
    color: #fff;
}
.b1-img-size {
    width: 90%;
}
td {
    width: 78%;
}
.blog-pagination-paragraph-flex {
    display: flex;
}
.blog-pagination-table-title {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}
.blog-pagination-paragraph h3 {
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
}
.blog-pagination-paragraph i {
    color: #fff;
}
.blog-pagination-paragraph h4 {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}
.blog-pagination-paragraph h1 {
    font-size: 38px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
}
.blog-pagination-paragraph {
    margin-bottom: 40px;
}
.blog-pagination-img {
    margin-bottom: 40px;
}
.blog-pagination-paragraph p {
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}
.search-div {
    background-color: #d7b474a6;
    padding: 40px;
}
.recent-post-div {
    margin: 40px 0;
    padding: 20px;
    background-color: #d7b474a6;
}
.blog-pagination-table th {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    border-bottom: none;
}

.blog-pagination-table td {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: none;
}
/* gallery page css */
.portfolio-section {
    padding-top: 100px;
}
.portfolio {
    padding-top: 80px;
    margin-top: 80px;
}
.portfolio-img {
position: relative;
}
.portfolio-search-png{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0 0 0 / 35%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.6s;
    opacity: 0;
}
.portfolio-search-png:hover {
    opacity: 1;
}
.portfolio img::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.portfolio img:hover::after {
    background-image: url(../images/search.png);
}
/* contact page css */
.contact {
    margin-top: 200px;
}
.office h1 {
    font-size: 38px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
}
#office-details-paragraph {
    text-transform: capitalize;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}
.contact-details-part img {
    width: 6%;
    height: 22px;
    margin-right: 10px;
}
.contact-details-part p {
    color: #fff;
    font-size: 12px;
}
.contact-details-img {
    width: 80%;
}
.opening h1 {
    font-size: 38px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
    padding-bottom: 20px;
}
.opening tr td {
    color: #fff;
    border-bottom-width: 0px;
}
.get-in-touch h1 {
    padding: 20px 0;
    font-size: 38px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
}
.get-in-touch p {
    color: #fff;
    font-size: 12px;
}
.get-in-touch-form {
    padding-top: 20px;
}
/* team page css */
.team-section {
    padding-top: 100px;
}
.team-member {
    margin-top: 160px;
}
.team h1 {
    font-size: 38px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
    padding: 10px;
}
.team-img {
    position: relative;
    margin-bottom: 23px;
}
.team-img img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}
.team-img img:hover:after {
    opacity: 1;
}
.team-contact {
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0 0 0 / 81%);
    text-align: right;
    z-index: 1;
    opacity: 0;
    transition: 0.2s all;
}
.team-contact h1 {
    font-size: 30px;
    text-transform: capitalize;
    color: #D7B474;
}
.team-contact p a {
    width: 10%;
}
.team-contact-png {
    width: 5%;
    margin: 0 5px;
}
.team-contact::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: #00000015;
}
.team-img .team-contact:hover {
    opacity: 1;
}
/* timing page css */
.timing-section {
    padding-top: 50px;
}
.timing {
    margin-top: 190px;
}
.timing .table {
    margin-bottom: 0;
}
.timing td {
    color: #fff;
}
.timing th {
    color: #d7b474a6;
    font-size: 28px;
    font-family: serif;
    text-transform: capitalize;
}
/* pricing page css */
.pricing-section {
    padding-top: 100px;
}
.pricing {
    margin-top: 130px;
}
.pricing h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 38px;
    font-family: serif;
    text-transform: capitalize;
    color: #d7b474a6;
}
.pricing-flex-div {
    display: flex;
}
.pricing-price {
    text-align: right;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
.pricing-divider {
    width: 46%;
    height: 22px;
    border-bottom: 1px dotted #fff;
}
.pricing-heading {
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}
.pricing-text {
    font-size: 14px;
    color: #fff;
}
/* faq part css */
.faq-section {
    padding-top: 100px;
}
.accordion-part {
    margin-top: 120px;
}
button.accordion-button:not(.collapsed) {
    background-color: black;
}
.accordion-heading h1 {
    font-size: 30px;
    font-family: serif;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 20px;
}
.accordion-heading p {
    font-size: 14px;
    color: #fff; 
    padding-bottom: 20px;
}
.beautywise-accordion button.accordion-button.collapsed {
    background-color: black;
}
.beautywise-accordion .accordion-header .accordion-button  {
    font-size: 16px;
    color:  #fff;
}
.beautywise-accordion strong {
    font-size: 14px;
    font-weight: 100;
    color:  #d7b474a6;
}
.accordion-body {
    background-color: black;
}
.accordion-button:not(.collapsed):hover {
    color: #fff;
    background-color: black;
}
.faq-img {
    width: 90%;
    margin-left: 10%;
    margin-top: 25%;
}
/* event page css */
.event-section {
    padding-top: 100px;
}
.event {
    margin-top: 255px;
}
.event-paragraph {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: black;
}
.event-paragraph h1 {
    font-size: 30px;
    font-family: serif;
    text-transform: capitalize;
    color: #fff;
}
.event-paragraph p {
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
}
/* profile page css */
.customer-profile-section {
    padding-top: 190px;
}
.customer-profile {
    padding-top: 60px;
}
.customer-profile h1 {
    font-size: 30px;
    font-family: serif;
    text-transform: capitalize;
    color: #D7B474;
    padding: 10px 0;
    letter-spacing: 3px;
}
.customer-details label {
    display: flex;
    background-color: black;
    font-size: 18px;
    color: #fff;
    padding-top: 15px;
    padding-left: 50px;
    border-bottom: 1px solid;
}


/* iphone SE Responsive */
@media only screen and (min-width: 320px) and (max-width: 767px) {

.common-padding {
    padding: 50px 0;
}
/* home page css */
button.navbar-toggler {
    color: #fff;
    background-color: #d7b474a6;
}
.beautywise-banner {
    height: 200px;
}
.beautywise-nav {
    border: 1px solid #d7b474a6;
    background-color: #000;
}
.makeup-video-text {
        width: 45%;
        height: 270px;
        padding: 20px;
        right: 40px;
        margin-bottom: 50px;
}
.makeup-video-text h1 {
    font-size: 18px;
}
.makeup-video-text p {
    font-size: 8px;
}
.makeup-video-icon {
    padding: 200px;
}
#carouselExampleIndicators {
    padding-bottom: 60px;
}
.followers {
    height: 575px;
}
.followers-padding {
    padding: 50px 0;
}
.followers-part {
    height: 100px;
    width: 40%;
    margin-bottom: 20px;
}
.followers-part h1 {
    font-size: 18px;
}
.followers-part p {
    font-size: 12px;
}
.contact-us img {
    width: 5%;
}
/* about page */
.makeup-artist {
    padding-top: 140px;
}
/* blog page */
.latest-blog {
    padding-top: 100px;
}
.blog-pagination-paragraph h1 {
    font-size: 18px;
}
.blog-pagination-paragraph h3 {
    font-size: 13px;
}
.blog-pagination-paragraph p {
    font-size: 11px;
}
/* event */
.event-section {
    padding-top: 150px;
}
.event {
    margin-top: 50px;
}

}